@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/subset-Montserrat-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

$backgroundColor:  #F2F5F8;
$primaryColor:     #004C92;
$secondaryColor:   #C8192C;
$plainColor:       #EFEFEF;
$borderColor:      #CCC;

@mixin mainTheme {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Montserrat', Verdana, Arial, sans-serif;
}

@mixin primaryTheme {
    @include mainTheme;
    background-color: $primaryColor;
    color: white;
    font-family: inherit;
    font-size: inherit;
}

@mixin secondaryTheme {
    @include mainTheme;
    background-color: $secondaryColor;
    color: white;
    font-family: inherit;
    font-size: inherit;
}

@mixin plainTheme {
    @include mainTheme;
    background-color: $plainColor;
    color: black;
    font-family: inherit;
    font-size: inherit;
}
