@import "src/templates/theme";

@font-face {
    font-family: 'Karla';
    src: url('../fonts/subset-Karla-Bold.woff2') format('woff2'),
    url('../fonts/subset-Karla-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.irma-app-bar {
    width: 100%;
    @include primaryTheme;
    position: relative;
    display: flex;
    justify-content: center;
}

.irma-app-bar-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 650px;
}

.irma-app-bar-content h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    padding: 16px 0;
    font-weight: bold;
    font-family: 'Karla', Verdana, Arial, sans-serif;
}

.log-out-button {
    @include primaryTheme;
    border: 1px solid transparent;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.log-out-icon {
    fill: white;
    height: 22px;
}
