@import "src/theme";

@mixin irma-button {
  width: fit-content;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid transparent;
  cursor: pointer;
  outline-color: $backgroundColor;
  &:disabled {
    cursor: not-allowed;
    opacity: .65;
  }
}

.irma-button-primary {
  @include irma-button;
  @include primaryTheme;
}

.irma-button-secondary {
  @include irma-button;
  @include secondaryTheme;
}

.irma-button-plain {
  @include irma-button;
  @include plainTheme;
}
