@import "src/theme";

.irma-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;

  background-color: rgba(0,0,0,0.5);

  overflow: auto;
}

.irma-modal-container {
  position: relative;
  width: auto;
  margin: 0 auto;
  max-width: 670px;
}

.irma-modal {
  margin: 10px;
}

.irma-modal-content {
  position: relative;
  background-color: $backgroundColor;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  overflow: hidden;
}

.irma-modal-button-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
