@import 'src/theme';

.spinner {
  margin: 50px auto;
  border: 16px solid $borderColor;
  border-top: 16px solid $primaryColor;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
