@import "src/templates/column";

.button-row {
  display: flex;
  flex-direction: row;

  .refresh {
    margin-right: 20px;
  }

  .previous, .next {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
    svg {
      height: 16px;
    }
  }

  .previous svg {
    margin-right: 10px;
  }
  .next svg {
    margin-left: 10px;
  }
}
