@import "src/templates/theme";

.center {
  align-items: center;
  text-align: center;
}

.success-icon {
  width: 40%;
}

.return-button {
  @include primaryTheme;
  margin: 0 auto 0 auto;
  border-radius: 40px;
  border: 1px solid transparent;
  cursor: pointer;
  outline-color: $backgroundColor;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  padding: 5px 20px;
}

.irma-logo {
  max-height: 50px;
  margin-right: 10px;
}
