@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/subset-Montserrat-Regular.woff2') format('woff2'),
    url('./fonts/subset-Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/subset-Montserrat-SemiBold.woff2') format('woff2'),
    url('./fonts/subset-Montserrat-SemiBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

$backgroundColor: #f2f5f8;
$primaryColor: #004c92;
$secondaryColor: #c8192c;
$plainColor: #efefef;
$borderColor: #ccc;

@mixin mainTheme {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Montserrat', Verdana, Arial, sans-serif;
}

@mixin primaryTheme {
  @include mainTheme;
  background-color: $primaryColor;
  color: white;
  font-family: inherit;
  font-size: inherit;
}

@mixin secondaryTheme {
  @include mainTheme;
  background-color: $secondaryColor;
  color: white;
  font-family: inherit;
  font-size: inherit;
}

@mixin plainTheme {
  @include mainTheme;
  background-color: $plainColor;
  color: black;
  font-family: inherit;
  font-size: inherit;
}
